*{
    background-color: rgb(144, 171, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    font-size: 50px;
    color: black;
    margin: 10px;
}